html, body {
	margin: 0;
	padding: 0; 
	font-family: 'PT Sans', sans-serif;
	background-color: #fff;
	} 

.container {
	max-width: 80%; 
	margin: 0 auto;
	} 

/* Header */ 
.headerLogo {
	margin: 30px auto;
}

.headerLogo img {
	width: 100px;
	margin: 20px auto;
	margin-bottom: 20px;
	}


.header {
	margin-top: 20px;
	padding: 30px 0;

	} 

.header img {
	width: 100px;
	}


.logo {
	display: block;
	
	}

.header h1 {
	font-size: 18px;
	text-align: center;
	line-height: 0.2em;
	margin-top: 30px
	} 

.header h1 span {
	color: red; 
	} 

.header h2 {
	font-size: 10px;
	text-align: center;	
	}

/*
.header .col-md-3 {
	padding-left: 0;
}

.header .col-md-6 {
	padding-right: 0;
}
*/

/* Header nav*/ 
.nav {
	/* margin-top: 30px; */
	/*border-bottom: 1px solid #808284;*/
	text-align: center;
	}

.nav>ul {
	z-index: 1000;
	background-color: white;
	display: inline-block;
	text-align: center;
	padding: 0px;
	}

.nav li {
	display: inline-block;
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	/*font-weight: lighter; */
	-webkit-font-smoothing: antialiased;
	}

.nav li a {
	color: #6b6b6b; 
	margin-top: 40px;
	margin-right: 0;
	margin-left: 0;
	padding: 5px 20px;
	background-color: #fff;
	border: 0px;
	} 

.nav li a:hover {
	text-decoration: none;
    color: #eb2227;
    /* border-bottom: 1.5px solid red; */
	}

.nav li a.activeLink {
	color: black;
	/*border-bottom: 1.5px solid red; */
	}

.nav li a.activeLink:hover {
	color: #eb2227;
	/*
	background-color: #eee;
	border-bottom: 1.5px solid red;
	*/
	}

.page-divider {
	position: relative;
	margin-top: -20px;
	}
	
/* Footer */ 
.footer {
	padding: 20px 0px;
	color: #fff; 
	margin: 0 auto 0;
	width: 100%
	}

.page {
	border-bottom: 1px solid #e0e0e0;
	}

.footer h3 {
	font-size: 20px; 
	}

.footer ul {
	float: right;
	}

.footer li {
	display: inline-block;
	}

.footer img {
	width: 50px; 
	margin:40px 0; 
	} 

.footer p {
	font-size:12px; 
	margin-bottom: 0; 
	color: #eb2227; 
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	} 



@media (max-width: 992px) {

 	.jumbotron h2 span {
		color: #aaa; 
	} 
} 

@media (max-width: 500px) { 
	.header h1, h2 { 
		text-align: center; 
	} 

	.jumbotron h2 span {
		color: #aaa; 
	} 

	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.main img {
		width: 100%;
	}

	.footer ul {
	float: none;
	margin: 0 auto;
	padding: 0;
	}

	.footer img {
	width: 40px;
	}
}