html, body {
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	} 

.container {
	max-width: 80%; 
	margin: 0 auto;
	} 



/* Jumbotron */ 
.jumbotro {

	background-color: #fff;
	padding-top: 25vh;
	width:100%;
	height: 76vh;
	} 

.jumbotro h1 {
	font-size: 3.2em; 
	text-align: left;
	color: #000; 
	font-family: 'PT Serif', georgia, serif;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}
	

.jumbotro h2 span {
	color: #eb2227;
	} 

.element {
	color: #eb2227;
}

.jumbotro p {
	text-shadow: 0 0; 
	font-size: 70px; 
	color: #666; 
	/*margin:30px; */
	font-family: 'PT Serif', georgia, serif;
	} 

.btn-position {
	margin-top: 40px;
	text-align: center;
	
}


.btn {
  width: 200px; 
  margin-top:30px; 
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color:#000;
  background-color: #F9BB2D;
  border:1px solid;
  border-color: #F9BB2D;
  border-radius:3px; 
  padding: 10px;
  font-size: 14px;
  }


 .btn:hover {
 
  color:#fff;
  background-color: #F9BB2D;

  -webkit-transition: all 1.5s cubic-bezier(0.19,1,0.22,1);
  transition: all 1.5s cubic-bezier(0.19,1,0.22,1);

  }


.page {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Do */
.do {
	padding-top:20px;
	text-align: center;
	font-family: 'PT Serif', georgia, serif;
	height: 100%;
}

.do h6 {
	margin-top: 50px;
	font-family: 'PT Serif', sans-serif;
	font-weight: lighter;
	color: #333;
	font-size: 15px;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
}

.do h1 {
	color: #000;
	margin-top: 5px;
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 2.5em;

}


.do h2 {
	font-size: 2em;
	color: #000;
	opacity: 1;
	opacity: 0.6;
}

.do p {
	font-weight: lighter;
	color: #333;
	font-size: 15px;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
}

.do img {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
/* Main */ 
.main {
	
	font-family: 'PT Serif', georgia, serif;
	text-align: center;
	height: 70vh;
	-webkit-font-smoothing: antialiased;
	} 


.main h2 span {
	color: black;
}




@media (max-width: 992px) {
 .col-md-4 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 

 	.jumbotron h2 span {
		color: #aaa; 
	} 
} 

@media (max-width: 500px) { 
	.header h1, h2 { 
		text-align: center; 
	} 

	.jumbotro {
		width: 100%;
		height: 100%;
	}

	.jumbotron h2 span {
		color: #aaa; 
	}

	.jumbotro h2 {
		text-align: center;
		font-size: 2em;
	}

	.btn-position {
		text-align: center;
	}

	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.main img {
		width: 100%;
	}

	.footer ul {
	float: none;
	margin: 0 auto;
	padding: 0;
	}

	.footer img {
	width: 40px;
	}
}


