html, body {
	margin: 0;
	padding: 0; 
	font-family: Georgia, Times, serif;
	background-color: #fff;
	} 

p {
	-webkit-font-smoothing: antialiased;
}	


.container {
	max-width: 1180px; 
	margin: 0 auto;
	}


.img-content {
	max-width: 1020px;
	margin: 0 auto;
} 



#header {
	height: 3.5em;
	left: 0;
	padding: 0 1.25em;
	top: 0;
	width: 100%;
	z-index: 10000;
}

nav {
	background-color: white;
}

ul {

}


nav>ul {
	z-index: 1000;
	background-color: white;
	display: inline-block;
	text-align: center;
	padding: 0px;
	}

nav li {
	display: inline-block;
	background-color: #fff;
	}

nav li a {
	color: #aaaaaa; 
	margin-top: 40px;
	margin-right: 0;
	margin-left: 0;
	padding: 5px 20px;
	background-color: #fff;
	border: 0px;
	} 


#header nav a {
	border: 0;
	display: inline-block;
}




/* Jumbotron */ 
.jumbotron {
	background: url(../img/portfolio/yummich/yummich_main.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0;
	height: 550px;
	} 



.jumbotron h2 {
	font-size: 50px; 
	margin-bottom: 150px;
	color: #b20215; 
	} 

.jumbotron h2 span {
	color:#000; 
	} 

.jumbotron p {
	text-shadow: 0 0; 
	font-size: 16px; 
	color: #000; 
	margin:30px; 
	} 

span {
	color: #000;
}

/* Main */
element.style {
	background-position: -100% 0px;
}

.main .close {
	background: url(../img/portfolio/close.png) top center;
	width: 55px;
	top: 15px;
	right: 35px;
	opacity: .4;
	color: white;
}

.main .close:hover {
	opacity: .9;
}

.main .close .title h3{
	opacity: 0;
}

.highlight {
	position: relative;
	background: #fcb5c2;
	background-image: linear-gradient(to right, transparent 50%, #fcb5c2 50%);
}


.main {
	background-color: #fff; 
	color: #000; 
	padding: 20px 40px;
	text-align: left;
	} 

.main h1 {
	font-size: 45px;
	font-style: "Source Serif Pro";
	margin-bottom: 30px;
}

.main h2 {
	font-size: 1.2em;
	font-style: "Source Serif Pro";
	margin-bottom: 15px;
	font-style: italic;
	color: #666;
}

.main p, h5{
	line-height: 150%;
	font-size: 1.2em;
}

.main h2 span {
	color: black;
}

.main h3, .content h4 {
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
}

/* Content */

.content .caption {
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	color: #666;
}

.content h4{
	font-size: 1.4em;
	line-height: 170%;
	color: #b20215;
}

.content h5 {
	font-family: "Roboto", sans-serif;
	font-size: 1.3em;
	color: black;
}


.content h6{
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
}

.content p{
	line-height: 170%;
	font-size: 1.2em;
}

.caption {
	font-size: 1.1em;
}

.font {
	font-family: "Roboto", sans-serif;
}

.main p {
	color: #666;
}

.main p span {
	color: black;
}

.main img {
	width: 450px;
	padding: 20px 50px;
	margin-right: auto;
	margin-left: auto;
}



hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #eee;
}


.content p {
	color: #666;
}




.content img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}



.btn {
  width: 200px; 
  margin-top:30px; 
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color:#fff;
  background-color: #b20215;
  border:0px;
  border-radius:0px; 
  padding: 10px;
  font-size: 14px;
  }

.first-divider {
	border-top: 3px solid black;
}

.page {
	border-bottom: 2px solid #aaaaaa;
	margin-top: 50px; 
	}

.footer .page {
	border-bottom: 1px solid #aaaaaa;
	margin-top: 50px; 
	}




@media (max-width: 992px) {
 

 	.jumbotron h2 span {
		color: #aaa; 
	} 
} 

@media (max-width: 500px) { 
	.header h1, h2 { 
		text-align: center; 
	} 

	.jumbotron h2 span {
		color: #aaa; 
	} 

	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.main img {
		width: 100%;
	}

	.footer ul {
	float: none;
	margin: 0 auto;
	padding: 0;
	}

	.footer img {
	width: 40px;
	}
}


@media (max-width: 90em) and (min-width: 50em){
	.container {
		max-width: 1180px;
    	padding-left: 50px;
	    padding-right: 50px;
	    margin-left: auto;
    	margin-right: auto;
	}
}

