html, body {
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	} 

/* Content */ 
.content { 
	margin-top: 80px;
	margin-bottom: 80px;
	height: 100%
	} 

.content .col-md-8, .content .col-sm-12 {
	padding-left: 0;
}

.content h1 {
	color: #000; 
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: 'PT sans', sans-serif;
}

.content p span {
	color: black;
}

.content p{
	font-size: 2.0em; 
	padding-top: 40px;
	color: #000; 
	font-style: italic;
	font-family: 'PT Serif', georgia, serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}


/* Main */ 
.main {
	background-color: #fff;
	} 

.main .col-md-4, 
.main .col-xs-6 {
	padding: 6px;
} 


.main img {
	margin-bottom: 25px; 
	width: 300px;
	} 

.thumbnail {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 0px;
    border: 0px;
    width: 217px;
    height: 168px;
    margin-bottom: 25px;
	}

@media (max-width: 1130px) { 
	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.main img {
		width: 95%;
	}



@media (max-width: 500px) { 
	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.main img {
		width: 100%;
	}

	.footer ul {
	float: none;
	margin: 0 auto;
	padding: 0;
	}

	.footer img {
	width: 40px;
	}
}
